.carousel {
  background-color: slategray;
  width: 100%;
}
.carousel-caption {
  background-color: black;
  opacity: 0.7;
}
.carousel img {
  height: calc(100vh - 101px);
}
.carousel .carousel-item {
  width: 100%;
}
