.login {
  text-align: center;
  display: grid;
  place-items: center;
  height: 100vh;
  background-color: #f0feff;
}
.login__container {
  background-color: white;
  padding: 50px;
  border-radius: 10px;
  box-shadow: 1px 1px 10px -5px rgb(77, 77, 77);
}
.login__container h1 {
  font-size: 25px;
  font-weight: 700;
}
.login__container > img {
  object-fit: contain;
  height: 200px;
}
.login__container > button {
  margin-top: 50px;
  font-size: 16px;
  background-color: #5adcfa;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 4px;
  outline: none;
}
.login__container > button:hover {
  background-color: #7cf8cf;
}
.login__text {
  color: rgb(37, 37, 37);
}
